<div class="page-header">
	<h1>Postal Reports</h1>
	<hr>
</div>
<div class="clearfix visible-md-block"></div>
<div class="row">
	<div class="col-md-12"><h3>Administration</h3></div>
	<div *ngFor="let menu of menus; let i = index">
		<div *ngIf="menu?.sectionDesc == 'Administration'" class="col-md-6">
			<p><a href="#"><strong>{{menu.displayName}}</strong></a>
			<br/>{{menu.displayDesc}}</p>
		</div>
	</div>
</div>
<div class="clearfix visible-md-block"></div>
<div class="row">
	<div class="col-md-12"><h3>Internal</h3></div>
	<div *ngFor="let menu of menus; let i = index">
		<div *ngIf="menu?.sectionDesc == 'Internal Use Only'" class="col-md-6">
			<p><a href="#"><strong>{{menu.displayName}}</strong></a>
			<br/>{{menu.displayDesc}}</p>
		</div>
	</div>
</div>
<div class="clearfix visible-md-block"></div>
<div class="row">
	<div class="col-md-12"><h3>Reports</h3></div>
	<div *ngFor="let menu of menus; let i = index">
		<div *ngIf="menu?.sectionDesc == 'Reports'" class="col-md-6">
			<p><a href="{{menu.displayName | str_replacement: ' ': '-' | lowercase}}"><strong>{{menu.displayName}}</strong></a>
			<br/>{{menu.displayDesc}}</p>
		</div>
	</div>
</div>